<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
</style>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-black text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-3 mt-md-4 py-2">
              <h1 class="fw-bold mb-2 text-uppercase">Invite</h1>
              <p class="text-white opacity-75">Share this QR code and invite people to have some casino fun!</p>
            </div>

            <div class="bg-white d-flex justify-content-center align-items-center rounded p-4 ms-auto me-auto p-4" style="width: 200px; height: 200px;">
              <%= raw @qrcode_svg %>
            </div>

            <p class="text-white" style="margin-right: 10px; margin-top: 10px;">Invite URL: <a href="<%= new_user_session_path(promoter: @promoter_email) %>" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><%= @promoter_email %></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>