<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="#">Share</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Invite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Lottery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Me</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>