<div class="offcanvas offcanvas-start text-bg-dark bg-black" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">System Management</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav id="sidebar">
      <div>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="#" class="nav-link">Homepage</a>
          </li>
          <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">Member
              Management</a>
            <ul class="collapse list" id="homeSubmenu">
              <li>
                <a href="#" class="dropdown-item">User List</a>
              </li>
              <li>
                <a href="#" class="dropdown-item">Item List</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">Example
              2 Management</a>
            <ul class="collapse list" id="pageSubmenu">
              <li>
                <a href="#" class="dropdown-item">Example 1</a>
              </li>
              <li>
                <a href="#" class="dropdown-item">Example 2</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
